.idea/modules.xml
.idea/KUHOME.iml
.idea/workspace.xml
.idea/misc.xml
.idea/vcs.xml
.idea/dataSources/65722f92-f6a2-46ef-a53c-be4b1da8a64c.corrupted.20181130-073850.xml
.idea/dataSources/65722f92-f6a2-46ef-a53c-be4b1da8a64c.corrupted.20181130-073850.reason.txt
